---
layout: page
title: Python
permalink: /python/
---

{% capture site_tags %}
{% for tag in site.tags %}
{{ tag | first }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% endcapture %}

{% assign tags_list = site_tags | split:',' | sort %}

<h6> Python Tips and Tricks </h6>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_tag %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
    <div class="list">
        {% for post in site.tags[this_tag] %}
            {% if this_tag == 'python' and post.tags[0] == 'python' %}
                <div class="list-post">
                    {% if post.link %}
                    <a href="{{ post.link }}">
                    {% else %}
                    <a href="{{ post.url | prepend: site.baseurl }}">
                    {% endif %}  
                    <div class="list-post-date">
                        <time>{{ post.date | date_to_string }}</time>
                    </div>
                    <div class="list-post-title">
                        {{ post.title }}
                    </div>
                    {% if post.description %}
                    <div class="list-post-desc">
                        {{ post.description }}
                    </div>
                    {% endif %}
                    </a>
                </div>
            
            {% endif %}
        {% endfor %}
    </div>
{% endunless %}
{% endfor %}
